* {
    margin: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

footer>p {
    text-align: center;
    margin-top: 25px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
}